.blur-effect {
    position: relative;
    overflow: hidden;
  }
  
  .blur-effect::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    filter: blur(5px);
  }
  